div.App {
  width: 40vw;
  height: fit-content;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 32px;
  padding: 25px;
}

div.App div.footer {
  display: flex;
  justify-content: space-between;
  color: black;
}

div.App div.form-task {
  margin-bottom: 100px;
}

div.App input.input-task {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 30px;
}

div.App div.row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}